# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk




.articleSection {
    grid-gap: 15px;
}

    <section class="articleSection">

    </section>


.article1 {
    grid-area: a1;
}
.article2 {
    grid-area: a2;
}
.article3 {
    grid-area: a3;
}

